Connected Services/wsImaginaEnvio/ImaginaEnvio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateShipments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha_envio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="direccion_id" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="pedido_id" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="repartidor_id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateShipmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateShipmentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateShipmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateShipments" />
  </wsdl:message>
  <wsdl:message name="GenerateShipmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateShipmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ImaginaEnvioSoap">
    <wsdl:operation name="GenerateShipments">
      <wsdl:input message="tns:GenerateShipmentsSoapIn" />
      <wsdl:output message="tns:GenerateShipmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImaginaEnvioSoap" type="tns:ImaginaEnvioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateShipments">
      <soap:operation soapAction="http://tempuri.org/GenerateShipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImaginaEnvioSoap12" type="tns:ImaginaEnvioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateShipments">
      <soap12:operation soapAction="http://tempuri.org/GenerateShipments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImaginaEnvio">
    <wsdl:port name="ImaginaEnvioSoap" binding="tns:ImaginaEnvioSoap">
      <soap:address location="http://localhost:18848/ImaginaEnvio.asmx" />
    </wsdl:port>
    <wsdl:port name="ImaginaEnvioSoap12" binding="tns:ImaginaEnvioSoap12">
      <soap12:address location="http://localhost:18848/ImaginaEnvio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>